In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# TRICK 1 - DROPPING ROWS WITH NULL VALUES

In [2]:
# given dataset
df = pd.DataFrame({"Salary": ['a','a','a','a','a', None]})
df

  Salary
0      a
1      a
2      a
3      a
4      a
5   None

In [3]:
df = df.dropna() #to drop rows with na or nine values
df

  Salary
0      a
1      a
2      a
3      a
4      a

-----------------------------